# Virtual environment
venv/

# Datasets
data/
*.csv

# Checkpoints
checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

#Others
Untitled.ipynb